body {
    margin: 0;
    height: 100vh;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

:root {
    --dark-bg: rgba(100, 100, 100, 0.95);
    --spacing: 250px;
}

main {
    width: 100vw;
    /* background: white; */
    z-index: 99;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    padding: 120px 0;

    font-family: 'Work Sans', sans-serif;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

h1 {
    font-weight: 700;
    font-style: normal;
}


header {
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
}

header p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}

section {
    grid-column: 2 / 8;
    padding: 0 1rem;
    /* background: var(--dark-bg); */
    font-size: 1.25rem;
    line-height: 1.5;
    /* margin-bottom: var(--spacing); */
}

.section-heading {
    margin-left: -3px;
    font-size: 4rem;
    grid-column: 1;
    position: sticky;
    top: 0;
    opacity: 1;
    /* background-color: #e5e5e5; */
}

.project-break {
    height: 300px;
}

.hoho {
    width: 100px;
    height: 100px;
    font-size: 1rem;
}

blockquote p {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
}

blockquote p {
    /* color: black; */
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1;
}

